APP_ENV=local
APP_VERSION=local

PORT=8092

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=TODO
AWS_SECRET_ACCESS_KEY=TODO


COGNITO_USER_POOL_ID=TODO
COGNITO_USER_POOL_CLIENT_ID=TODO
COGNITO_USER_POOL_CLIENT_SECRET=TODO

BASE_DOMAIN=localhost:8085

CONFIG_SSM_PARAM_NAME=/namespace/env/ai/lambda_config
AUTHORIZED_EMAILS='["user@example.net"]'

# https://www.thecocktaildb.com/api.php
COCKTAILDB_API_KEY=TODO

# auth-service
AUTH__PORT=8088
AUTH__CONFIG_SSM_PARAM_NAME=/ik/dev/auth_service/local/config
COGNITO_OAUTH_URL_PREFIX=https://auth.my-domain.com
COGNITO_OAUTH_REDIRECT_URL_PREFIX=http://app.my-domain.com